.chat-container {
  max-width: 500px;
  max-height: 420px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom {
  height: 40rem;

}

.chat-messages {
  padding: 16px;
  overflow-y: auto;
  max-height: 26rem;
}

.message {
  padding: 8px 12px;
  margin: 4px;
  border-radius: 8px;
  word-wrap: break-word;
}

.received {
  background-color: #f2f2f2;
  color: #333;
  align-self: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.sent {
  background-color: #0099cc;
  color: #fff;
  align-self: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #ccc;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.chat-input button {
  background-color: #0099cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
  outline: none;
}

.chat-input button:hover {
  background-color: #0077aa;
}

span.font-bold.text-lg {
  color: #22C55E;
  font-weight: lighter !important;
  font-size: 2rem;
}

::before {
  color: #22C55E;
}

h2{
  color: #22C55E;
}
